<!DOCTYPE html>
<html>
        <title>
        </title>

        <body>
                <h1>Index</h1>

                <form name="login" action="../get_html.py" method="get">
                        TesteLogin: <input type="text" name="textLogin">
                        TesteSenha: <input type"password" name="textPassword">
                        <input type="submit" value="Login">     
                </form>
    
                <form name="cadastro" action="cadastrar_pessoa.py" method="get">
                        <input type="submit" value="Cadastrar">
                </form>
		
		<h1>
			{{ nome_pessoa }}
		</h1>

        </body>

</html>


